body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background: #085078;
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); 
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  );
}

hr {
  width: 1000px;
}

details[open] {
  animation: sweep 2s ease-in;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

#instructions {
  text-align: left;
  padding: 5px;
}

/* List CSS */

ul {
  background: #eb846d;
  padding: 20px;
  line-height: 30px;
}

ul li {
  background: #834d4a;
  color: whitesmoke;
  margin: 5px;
}

img {
  width: 100px;
}

.fit {
  width: 100%;
  height: 100%;
}

#errors {
  color: #003f79;
}

#board {
  width: 450px;
  height: 450px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tile {
  width: 48px;
  height: 48px;
  border: 1px solid lightblue;

  /****Text****/
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#digits {
  width: 450px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 44px;
  height: 44px;
  border: 1px solid white;
  margin: 2px;

  /****Text****/
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: match-parent;
}

.number-selected {
  background-color: cadetblue;
}

.tile-start {
  background-color: antiquewhite;
}

.horizontal-line {
  border-bottom: 1px solid black;
}

.vertical-line {
  border-left: 1px solid black;
}

/* Timer CSS */

#timer {
  font-size: 35px;
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  color: aliceblue;
}

#start,
#reset {
  background-color: white;
  border: 2px solid white;
  width: 100px;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}

.button {
  text-align: center;
  margin: 10px;
  background: transparent;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
  outline: none;
}

#start:hover,
#reset:hover {
  cursor: pointer;
  background-color: rgba(175, 22, 55, 0.671);
  font-weight: 800;
  text-transform: capitalize;
}
